/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 9, 2020, 11:09:28 PM
    Author     : Alexa Lopez
*/


/*Centers calculator in center*/
.container{
    width: 422px;
    border:1px solid #D8BFD8;
    margin: 20px auto 20px auto;
}


.buttons{
   display: grid;
   grid-template-rows : repeat(5,1fr);
   grid-template-columns: repeat(4,1fr);
   grid-gap: 1px;
}

/*Top input*/
.inputsection{
     grid-column:1/2;
     display: block;
     

}
/*Botton input*/
.inputsection2{
     grid-column:1/2;
     display: block;
 
}
/*Text decorations*/
input[type=text]{
     box-sizing: border-box;
     margin-top:5px;
     padding: 20px auto 20px auto;
     font-size:30px;
     color:purple;
     text-align:center;
     background:transparent;    
     border:none;
     width: 400px;
     
}

/*Text placeholder*/
::placeholder { 
  color: #E9967A;
  opacity: 0.5; 
}

/*Buttons*/
.btn1{
    text-align:center;
    background-color:pink;
}

/*Buttons*/
.btn2{
    text-align:center;
    background-color:pink;
}


.btn1>input {
    background:transparent;
    border:none;
    justify-content:center;
    align-self: end;
    color:#FF69B4;
    font-size:2.5em;
    margin-top:25px;

}

.btn2>input {
    background:transparent;
    border:none;
    justify-content:center;
    align-self: end;
    color:#FF69B4;
    font-size:2.5em;
    margin-top:25px;
 
}

/* Same as above, modified for operators */
.ops:focus::after {
  content: attr(data-ops);
  margin-left: -210px;
  width: 420px;
}

/* Same as above, modified for result */
.equals:focus::after {
  content: attr(data-result);
  margin-left: -300px;
  width: 600px;
}

/* Reset button */

.reset {
  background: rgba(201,120,116,.28);
  color:#c97874;
  font-weight: 400;
  margin-left: -77px;
  padding: 0.5em 1em;
  position: absolute;
    top: -20em;
    left: 50%;
  width: auto;
  height: auto;
  
  &:hover {
    background: #c97874;
    color: #100a1c;    
  }
  
  /* When button is revealed */
  &.show {
    top: 20em;
    animation: fadein 4s;
  }
}

/* Animations */

/* Values that appear onclick */
@keyframes zoom {
  0% { 
    transform: scale(.2); 
    opacity: 1;
  }
  
  70% { 
    transform: scale(1); 
  }
  
  100% { 
    opacity: 0;
  }
}

/* Division by zero animation */
@keyframes broken {
  0% {
    transform: translate3d(0,0,0);
    opacity: 1;
  }

  5% {
    transform: rotate(5deg);
  }

  15% {
    transform: rotate(-5deg);
  }

  20% {
    transform: rotate(5deg);
  }

  25% {
    transform: rotate(-5deg);
  }

  50% {
    transform: rotate(45deg);
  }

  70% {
    transform: translate3d(0,2000px,0);
    opacity: 1;
  }

  75% {
    opacity: 0;
  }

  100% {
    transform: translate3d(0,-2000px,0);
  }
}

/* Reset button fadein */
@keyframes fadein {
  0% {
    top: 20em;
    opacity: 0;
  }
  
  50% {
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
}

@media (min-width: 420px) {
  .calculator {
    width: 12em;
  }
  .viewer {
    width: 8.5em;
  }
  button {
    margin: 0.5em;
  }
}
