{
  "openapi": "3.0.0",
  "info": {
    "title": "Final Calculator API",
    "description": "Calculator API for final",
    "contact": {
      "email": "al08583@georgiasouthern.edu"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://alexalopez.xyz/api/finalAPI/",
      "description": "Production Endpoint"
    },
    {
      "url": "https://virtserver.swaggerhub.com/alexalpz/FinalAPICalc/1.0.0",
      "description": "SwaggerHub API Auto Mocking"
    }
  ],
  "tags": [
    {
      "name": "public",
      "description": "Accessible to the public"
    },
    {
      "name": "admin",
      "description": "Accessible to admin only"
    }
  ],
  "paths": {
    "/calculator.php": {
      "get": {
        "tags": [
          "public"
        ],
        "summary": "Performs caculations",
        "description": "Returns the value of two integers",
        "operationId": "calcID",
        "parameters": [
          {
            "name": "opposite",
            "in": "query",
            "description": "First value",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "adjacent",
            "in": "query",
            "description": "Second value",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Succesful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "number",
                  "format": "date-time"
                }
              }
            }
          },
          "400": {
            "description": "bad input parameter"
          }
        }
      }
    }
  }
}